---
---

@import "{{ site.theme }}";

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
  margin-right: 95px;
}