---
---

@import "{{ site.theme }}";

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}
.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
  margin-right: 95px;
}